// 特变风格样式补丁

// 业务组件样式扩展包
@import './bizExtend-tb.scss';

// 底部滚动条
body {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: rgba(var(--color), 0.1);
    }
    ::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: rgba(var(--color), 0.1);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--primaryColor-3);
    }
}

// 渐变边框
@mixin linearBorder($radius) {
    border: none;
    position: relative;
    border-radius: $radius;
    background: linear-gradient(228.27deg, rgba(var(--color), 0.4) 0%, var(--opacityColor) 0.01%, var(--primaryColor) 50%, var(--opacityColor) 100%);
    box-shadow: var(--insetShadow-1);
    border: none;
    order: 1;
    &[x-placement^='bottom'] {
        margin-top: pxToRem(6);
    }
    &:before {
        content: '';
        @include wh(calc(100% - 2px));
        position: absolute;
        left: 1px;
        top: 1px;
        border-radius: $radius;
        pointer-events: none;
        background: var(--bgColor);
        box-shadow: inset 0 0 pxToRem(12) rgba(var(--color), 0.7);
        z-index: -1;
    }
    .popper__arrow {
        display: none;
    }
}
// 按钮,此处代码待优化
@mixin btn($height: pxToRem(28), $type) {
    border: none;
    border-radius: var(--radius-md);
    background: linear-gradient(228.27deg, var(--opacityColor) 0%, var(--primaryColor) 50%, var(--opacityColor) 100%);
    padding: pxToRem(2);
    box-shadow: var(--insetShadow-1);
    span {
        background: var(--fgColor);
        display: block;
        border-radius: pxToRem(8);
        box-shadow: var(--insetShadow-1);
        color: var(--textColor-1);
        padding: 0 pxToRem(12);
        z-index: 1;
        height: pxToRem(24);
        line-height: pxToRem(24);
        pointer-events: none;
    }
}

// 根组件配置
#app {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: var(--bgColor);
    overflow-x: auto;
    overflow-y: hidden;
}

// 地图容器
#map-div {
    position: absolute;
    height: var(--main-height);
    width: calc(var(--main-width) - var(--view-column-width) * 2 - var(--biz-component-column-gap) * 4);
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    bottom: var(--main-margin-bottom);
    border-radius: var(--radius-lg);
    overflow: hidden;
    #map {
        @include wh;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            box-shadow: var(--insetShadow-2);
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
        }
    }
}

// 布局容器
.pc-layout {
    .pc-main {
        .pc-left,
        .pc-right {
            .columnSwitchBtn {
                width: pxToRem(40);
                height: pxToRem(8);
                border-radius: pxToRem(10) pxToRem(20);
                & + .columnSwitchBtn {
                    margin-left: pxToRem(4);
                }
            }
        }
    }
}

// 组件容器
.biz {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: var(--insetShadow-2);
    border-radius: var(--radius-lg);
    padding: var(--gap-lg);
    // 业务组件标题
    .biz-title {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        background: url('/images/componentTitle.png') no-repeat left center/ contain;
        height: pxToRem(40);
        &_word {
            height: 100%;
            font-size: var(--biz-title-font-size);
            color: var(--biz-title-color);
            font-weight: bold;
            height: var(--biz-title-height);
            line-height: var(--biz-title-height);
            padding-left: pxToRem(8);
            text-shadow: 0 0 pxToRem(32) var(--primaryColor), 0 0 pxToRem(24) var(--primaryColor), 0 0 pxToRem(16) var(--primaryColor);
        }
        &_sub {
            &::before {
                font-family: 'iconfont' !important;
                content: '\e929';
                padding-right: var(--gap-sm);
                display: inline-block;
            }
        }
    }
    // 业务组件标题右侧区域【筛选+按钮组】
    .biz-extend {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        .interactiveList {
            margin-left: pxToRem(8);
            color: var(--primaryColor);
            font-size: var(--h6);
            li {
                @include linearBorder(pxToRem(16));
                height: var(--biz-title-height);
                width: var(--biz-title-height);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 1;
                span {
                    position: relative;
                }
            }
        }
    }
    // 业务组件内容区
    .biz-content {
        flex-grow: 1;
        overflow: hidden;
    }
    // 输入框
    .el-input {
        font-size: var(--biz-filter-font-size);
        // background-image: var(--linearBg1);
        background: linear-gradient(228.27deg, var(--opacityColor) 0%, var(--primaryColor) 50%, var(--opacityColor) 100%);
        padding: pxToRem(2);
        border-radius: var(--radius-md);
        height: var(--biz-filter-height);
        line-height: var(--biz-filter-height);
        box-shadow: var(--insetShadow-1);
        display: flex;
        justify-content: center;
        position: relative;
        &::before {
            content: '';
            width: calc(100% - pxToRem(8));
            height: pxToRem(8);
            top: pxToRem(4);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            left: pxToRem(4);
            border-radius: pxToRem(6);
            pointer-events: none;
            z-index: 2;
        }
        .el-input__inner {
            @include wh;
            line-height: calc(100% - pxToRem(4));
            border-radius: pxToRem(8);
            background-color: var(--fgColor);
            border: none !important;
            color: var(--biz-filter-color-active);
            font-size: var(--biz-filter-font-size);
            ::-webkit-input-placeholder {
                color: var(--biz-filter-color);
            }
            caret-color: var(--primaryColor);
            &:hover,
            &:focus {
                border: none;
            }
        }
        .el-input__icon {
            line-height: var(--biz-filter-height);
            background: var(--iconLinearBg);
            background-clip: text;
            color: transparent;
        }
    }
    // 下拉框
    .el-select {
        width: pxToRem(110);
        .el-input {
            @extend .el-input;
        }
        .el-select__caret {
            color: var(--primaryColor);
            font-size: var(--h6);
        }
    }
    // 时间区间选择器
    .el-range-editor {
        @include linearBorder(pxToRem(30));
        height: var(--biz-filter-height);
        line-height: var(--biz-filter-height);

        &:before {
            z-index: 0;
        }
        &.el-input__inner {
            padding: 0 pxToRem(10);
            input {
                text-align: center; //内容居中
            }
        }

        // 年月日区间/时间区间选择器
        &.el-date-editor--daterange,
        &.el-date-editor--timerange {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(220);
                padding-right: 0;
            }
        }

        // 年月日时间区间选择器
        &.el-date-editor--datetimerange {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(340);
            }
            .el-range-input {
                width: pxToRem(140);
            }
        }

        //月份区间选择器
        &.el-date-editor--monthrange {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(175);
            }
        }
        .el-input__icon {
            line-height: var(--biz-filter-height);
            color: var(--primaryColor);
        }
        .el-input__icon,
        .el-range-separator,
        .el-range-input {
            z-index: 1;
            position: relative;
        }
        .el-range-separator {
            font-size: 0;
            width: var(--biz-title-font-size);
            box-sizing: content-box;
            line-height: var(--biz-filter-height);
            &::before {
                content: '至';
                font-size: var(--h6);
                color: var(--primaryColor);
            }
        }
        .el-range-input {
            color: var(--biz-filter-color-active);
            background: transparent;
            text-align: left;
            ::-webkit-input-placeholder {
                color: var(--biz-filter-color);
            }
            font-size: var(--biz-filter-font-size);
            caret-color: var(--primaryColor);
        }
        // 区间选择器“至”字容器内边距
        .el-range-separator {
            padding: 0;
        }
    }
    //日期/时间 选择器（非区间）
    .el-date-editor {
        // 时间选择器/月份选择器
        &.el-date-editor--time,
        &.el-date-editor--month {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(120);
            }
        }

        // 年月日选择器
        &.el-date-editor--date {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(140);
            }
        }
        // 年份选择器
        &.el-date-editor--year {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(100);
            }
        }
        // 日期时间选择器
        &.el-date-editor--datetime {
            &.el-input,
            &.el-input__inner {
                width: pxToRem(190);
            }
        }
        // 日期/时间选择器两侧图标内间距
        &.el-input--prefix .el-input__inner {
            padding-left: pxToRem(25);
        }
        &.el-input--suffix .el-input__inner {
            padding-right: pxToRem(25);
        }

        .el-input__icon {
            width: pxToRem(20);
        }
    }
    // 按钮组
    .el-radio-group {
        position: relative;
        height: pxToRem(34);
        &:before {
            content: '';
            width: 100%;
            height: pxToRem(28);
            border-radius: var(--radius-md);
            background: var(--fgColor);
            box-shadow: var(--insetShadow-1);
            top: pxToRem(3);
            position: absolute;
        }

        .el-radio-button {
            color: var(--textColor-1);
            height: var(--biz-filter-height);
            line-height: var(--biz-filter-height);
            border: none;
            box-sizing: border-box;
            &__inner {
                border: none;
                padding: 0 pxToRem(12);
                background: none;
                height: pxToRem(30);
                line-height: pxToRem(30);
                color: var(--textColor-3);
                font-size: var(--h5);
                &:hover {
                    color: var(--textColor);
                }
            }
            &.is-active {
                background: linear-gradient(228.27deg, rgba(var(--color), 0.4) 0%, var(--opacityColor) 0.01%, var(--primaryColor) 50%, var(--opacityColor) 100%);
                box-shadow: var(--insetShadow-1);
                height: pxToRem(34);
                border-radius: var(--radius-md);
                padding: pxToRem(2);
                position: relative;
                &::before {
                    content: '';
                    width: calc(100% - pxToRem(8));
                    height: pxToRem(6);
                    position: absolute;
                    top: pxToRem(4);
                    left: pxToRem(4);
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                    border-radius: pxToRem(6) pxToRem(6) 0 0;
                    z-index: 2;
                }
                .el-radio-button__inner {
                    border-radius: pxToRem(8);
                    font-weight: bold;
                }
            }
        }
        .el-radio-button__orig-radio:checked + .el-radio-button__inner {
            color: var(--textColor);
            background: var(--fgColor);
            box-shadow: var(--insetShadow-1) !important;
        }
    }
    // 分页器
    .el-pagination {
        @mixin boxSize {
            height: pxToRem(20);
            line-height: pxToRem(20);
            min-width: pxToRem(20);
            border-radius: pxToRem(4);
        }
        @mixin iconBg {
            color: var(--primaryColor);
            background: var(--fgColor);
            margin-left: pxToRem(2);
        }
        button {
            @include boxSize;
            padding: 0;
            @include iconBg;
            &[disabled='disabled'] {
                color: var(--bgColor);
            }
        }
        .btn-prev {
            margin-left: 0;
        }
        .el-pager {
            font-size: pxToRem(14);
            height: pxToRem(20);
            li {
                @include boxSize;
                padding: 0;
                &:hover {
                    color: var(--primaryColor);
                    background: var(--bgColor);
                }
            }
            .number {
                @include iconBg;
                @include wh(pxToRem(20), pxToRem(20));
                font-weight: 400;
            }
            .active {
                color: var(--textColor);
                background: var(--primaryColor);
            }
            .el-icon-more {
                @include iconBg;
                &::before {
                    line-height: pxToRem(22);
                }
            }
            .el-icon-d-arrow-right,
            .el-icon-d-arrow-left {
                margin-left: pxToRem(2);
                &::before {
                    color: var(--primaryColor);
                    line-height: pxToRem(22);
                }
            }
        }
    }
}
// 筛选项下拉弹窗
.el-select-dropdown.filterSelect {
    @include linearBorder(pxToRem(8));
    .el-scrollbar__bar.is-vertical {
        width: 4px;
    }
    .el-scrollbar__thumb:hover {
        background-color: var(--primaryColor-1);
    }
    .el-select-dropdown__list {
        padding: pxToRem(4) pxToRem(4);
    }
    .el-select-dropdown__item {
        padding: 0 pxToRem(24) 0 pxToRem(12);
        font-size: var(--h5);
        color: var(--textColor-3);
        height: pxToRem(28);
        line-height: pxToRem(28);
        border-radius: pxToRem(4);
        transition: all 0.1s;
        margin-top: pxToRem(1);
        position: relative;
        &:first-child {
            margin-top: 0;
        }
        &:before {
            content: '\2713';
            position: absolute;
            right: pxToRem(6);
            top: 50%;
            transform: translateY(-50%);
            color: transparent;
        }
        &.hover,
        &:hover,
        &.selected {
            background-color: var(--primaryColor-2);
            color: var(--textColor-1);
        }
        &.selected:before {
            color: var(--textColor-1);
        }
    }
    .el-select-dropdown__wrap {
        max-height: pxToRem(152);
    }
}

// 时间日期下拉弹窗
.filterDatePicker {
    color: var(--textColor-1);
    width: auto;
    @include linearBorder(pxToRem(16));
    &.el-date-range-picker {
        width: pxToRem(596);
    }
    &.el-date-picker {
        .el-date-picker__header--bordered {
            border-bottom: 0.0625rem solid var(--primaryColor-1);
        }
        .el-date-picker__time-header {
            border-bottom: none;
            width: pxToRem(306);
        }
        &.has-time {
            .el-picker-panel__content {
                width: pxToRem(298);
            }
            .el-input .el-input__inner {
                color: var(--textColor-1);
            }
        }
    }
    .el-date-picker__header,
    .el-date-range-picker__header {
        margin: pxToRem(8) 0 pxToRem(2);
        padding: 0 pxToRem(10);
        .el-picker-panel__icon-btn {
            color: var(--textColor-1);
            font-size: var(--h5);
            line-height: pxToRem(28);
            margin-top: pxToRem(0);
        }
        .el-date-picker__header-label {
            font-size: var(--h5);
            font-weight: 700;
            color: var(--textColor-1);
            line-height: pxToRem(28);
        }
        & > div {
            font-size: var(--h5);
        }
    }
    .el-date-range-picker__header {
        margin: 0;
    }

    .el-picker-panel__content {
        padding: pxToRem(4);
        &:not(.el-date-range-picker__content) {
            width: pxToRem(298);
            margin: 0 pxToRem(4);
        }
        &.is-left {
            border: none;
            padding-left: pxToRem(8);
        }
        &.is-right {
            padding-right: pxToRem(8);
        }
    }

    .el-date-table {
        th {
            border-bottom: none;
            padding: 0 pxToRem(5);
            background: var(--primaryColor-1);
            color: var(--textColor-1);
            &:first-child {
                border-radius: pxToRem(10) 0 0 pxToRem(4);
            }
            &:last-child {
                border-radius: 0 pxToRem(4) pxToRem(10) 0;
            }
        }
        td {
            width: pxToRem(40);
            height: pxToRem(24);
            padding: pxToRem(2) 0;
            span {
                width: pxToRem(32);
                height: pxToRem(24);
                border-radius: pxToRem(12);
                line-height: pxToRem(24);
                transition: all 0.15s;
            }
            & > div {
                padding: pxToRem(4);
                height: pxToRem(32);
            }
            &.selected div {
                background: transparent;
            }
            &.next-month,
            &.prev-month {
                color: var(--textColor-3);
            }
            &.today {
                div {
                    padding: pxToRem(4);
                }
                span {
                    border: 1px solid var(--lightColor);
                    color: var(--textColor-1);
                    font-weight: normal;
                }
            }
            &.available {
                &:hover {
                    span {
                        background: var(--primaryColor);
                        color: var(--textColor-1);
                    }
                }
            }
            &.end-date span,
            &.start-date span {
                background-color: var(--primaryColor);
            }
            &.start-date > div {
                margin-left: 0;
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
            }
            &.end-date > div {
                margin-right: 0;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
            }
        }
        tr {
            td.available:first-child > div {
                border-top-left-radius: pxToRem(16);
                border-bottom-left-radius: pxToRem(16);
            }
            td.available:last-child > div {
                border-top-right-radius: pxToRem(16);
                border-bottom-right-radius: pxToRem(16);
            }
        }
        // 区间选择
        td.in-range div,
        td.in-range div:hover,
        &.is-week-mode .el-date-table__row.current div,
        &.is-week-mode .el-date-table__row:hover div {
            background-color: var(--primaryColor-3);
        }
        &.is-week-mode .el-date-table__row:hover td {
            &:first-child div {
                margin-left: 0;
            }
            &:last-child div {
                margin-right: 0;
            }
        }
    }
    .el-year-table {
        tr {
            height: pxToRem(32);
        }
        td {
            padding: pxToRem(4);
            div {
                padding: 0;
                height: auto;
            }
            .cell {
                color: var(--textColor-1);
                height: pxToRem(24);
                line-height: pxToRem(24);
                border-radius: pxToRem(20);
                width: auto;
                display: block;
            }
            .cell:hover,
            &.current:not(.disabled) .cell {
                color: var(--textColor-1);
                background-color: var(--primaryColor);
            }
            &.today .cell {
                background-color: var(--primaryColor);
            }
        }
    }
    .el-month-table {
        margin: pxToRem(2) pxToRem(4) pxToRem(4);
        td {
            padding: pxToRem(2);
            .cell {
                width: auto;
                color: var(--textColor-1);
                height: pxToRem(24);
                line-height: pxToRem(24);
            }
            div {
                padding: pxToRem(4) 0;
                height: auto;
            }
            &.start-date div {
                padding-left: pxToRem(4);
            }
            &.end-date div {
                padding-right: pxToRem(4);
            }
            &.today .cell {
                border: 1px solid var(--lightColor);
                color: var(--textColor);
            }
            &.current:not(.disabled) .cell {
                background: var(--primaryColor);
                color: var(--textColor);
            }
            &.in-range div {
                &,
                &:hover {
                    background-color: var(--primaryColor-3);
                }
            }
        }
        tr {
            td.in-range:first-child > div {
                border-top-left-radius: pxToRem(16);
                border-bottom-left-radius: pxToRem(16);
            }
            td.in-range:last-child > div {
                border-top-right-radius: pxToRem(16);
                border-bottom-right-radius: pxToRem(16);
            }
        }
    }
    .el-time-spinner__item {
        color: var(--textColor-3);
        height: 24px;
        line-height: 24px;
        &.active:not(.disabled) {
            color: var(--primaryColor);
        }
        &:hover:not(.disabled):not(.active) {
            background: transparent;
            color: var(--primaryColor);
        }
    }

    .el-time-panel {
        @include linearBorder(pxToRem(16));
        position: absolute;
        width: pxToRem(180);
        &__content {
            padding: pxToRem(4);
            &::after,
            &::before {
                height: 24px;
                border-color: var(--primaryColor-2);
                margin-top: -12px;
            }
        }
        &__footer {
            border-top: pxToRem(1) solid var(--primaryColor-1);
        }
        &__btn {
            color: var(--textColor-3);
            &.confirm {
                color: var(--primaryColor);
            }
        }
    }
    .el-picker-panel__footer {
        background-color: transparent;
        border-color: var(--primaryColor-3);
        border-radius: 0 0 pxToRem(16) pxToRem(16);
        .el-button--text {
            @include btn(pxToRem(28), secondary);
        }
        .is-plain {
            @include btn(pxToRem(28), primary);
        }
    }
    .el-date-range-picker__time-header {
        border: none;
        > .el-icon-arrow-right {
            color: var(--primaryColor-1);
        }
    }
    .el-input {
        @include linearBorder(pxToRem(16));
        &:before {
            z-index: 0;
        }
        .el-input__inner {
            border: none;
            background-color: transparent;
            position: relative;
            z-index: 1;
            height: pxToRem(28);
            line-height: pxToRem(28);
            &:hover {
                border: none;
            }
        }
    }
}
// 级联下拉弹窗
.filterCascader {
    @include linearBorder(pxToRem(8));
    .el-cascader-menu {
        color: var(--textColor-3);
        height: pxToRem(148);
        border-right: 1px solid var(--primaryColor-2);
        &:last-child {
            border-right: none;
        }
    }
    .el-cascader-menu__list {
        padding: pxToRem(4);
    }
    .el-cascader-node__label {
        padding: 0;
    }
    .el-cascader-node {
        border-radius: pxToRem(4);
        height: pxToRem(28);
        line-height: pxToRem(28);
        padding: 0 pxToRem(24) 0 pxToRem(12);
        & + .el-cascader-node {
            margin-top: 1px;
        }
        &:not(.is-disabled):focus,
        &:not(.is-disabled):hover {
            background-color: var(--primaryColor-3);
        }
        &.in-active-path,
        &.is-active,
        &.is-selectable.in-checked-path {
            color: var(--textColor-1);
            font-weight: normal;
        }
    }
    .el-input .el-icon-arrow-down {
        font-size: var(--h6);
    }
    .el-cascader-node__prefix {
        left: unset;
        right: pxToRem(10);
    }
}
// 文字提示tooltip
.el-tooltip {
    &__popper {
        &[x-placement^='top'] {
            background: var(--bgColor);
            border: pxToRem(1) solid var(--color);
            box-shadow: var(--insetShadow-1);
            border-radius: pxToRem(8);
            max-width: pxToRem(500);
            font-size: var(--h4);
            line-height: pxToRem(30);
            .popper__arrow {
                border-top-color: var(--color);
                &::after {
                    border-top-color: var(--color);
                }
            }
        }
    }
}

// 全局弹窗
.el-popup-parent--hidden {
    padding-right: 0 !important;
}

// 全局echarts内置tooltip样式
.echarts-tooltip {
    position: relative;
    border-width: 0 !important;
    background: transparent !important;
    padding: var(--gap-lg) !important;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include wh;
        background: var(--linearBg2);
        border-radius: var(--radius-md);
        z-index: -2;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include wh;
        background: var(--dialogBgColor);
        box-shadow: var(--insetShadow-2);
        border-radius: var(--radius-md);
        z-index: -1;
    }
}
