@function pxToRem($px) {
    $unit: unit($px);

    @if $unit != '' {
        @return $px;
    }
    @return calc($px * 1rem / 16);
}

@import '//at.alicdn.com/t/c/font_3146962_pmhrbf01zgj.css';

#app {
    background-color: transparent !important;
}

.example {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}

html.dark {
    .example {
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
}

details > summary:first-of-type {
    font-size: 10px;
    padding: 8px 0;
    cursor: pointer;
    color: #1989fa;
}

#VPContent {
    .name .clip {
        white-space: nowrap;
    }

    .VPNavBarTitle {
        img {
            background: #fff;
            border-radius: 6px;
        }
    }

    .image-container {
        img {
            background: #fff;
            border-radius: 20px;
        }
    }
}
